.block{
  display: inline-block;

}

.block__gradient{
  display: inline-block;
  width: 55px;
  height: 150px;
  &--good{
    background-color: $mdgreen;
  }
  &--bad{
    background-color: $ltgreen;
  }
  &:hover{
    cursor: pointer;
  }
  &:hover + .block__activity{
    cursor: default;
    opacity: 1;
  }
}

.block__activity{
  opacity: 1;
  position: absolute;
  border-radius: $border-radius;
  background-color: rgba(255, 255, 255, 0.9);
  width: 450px;
  max-width: 75vw;
  height: 60px;
  top: 160px;
  border: 1px solid $dkgreen;
  transition-duration: $transition-duration;

  color: $dkgreen;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px;
}