.block{
  display: inline-block;
  width: 50px;
  height: 100px;
  &--good{
    background-color: $mdgreen;
  }
  &--bad{
    background-color: $ltgreen;
  }
  &:hover .block__activity{
    cursor: pointer;
    display: block;
  }
}

.block__activity{
  display: none;
  position: absolute;
  background-color: white;
  width: 200px;
}