.block__gradient {
  display: inline-block;
  width: 55px;
  height: 150px;
}
.block__gradient--good {
  background-color: #549B7A;
}
.block__gradient--bad {
  background-color: #f3fbf7;
}
.block__gradient:hover {
  cursor: pointer;
}

.block__activity {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 450px;
  max-width: 75vw;
  height: 60px;
  top: 160px;
  border: 1px solid #254536;
  color: #254536;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px;
}

.check-in {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #254536;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
  color: #549B7A;
  font-family: courier;
  height: 400px;
  width: 500px;
  max-height: 90vh;
  max-width: 80vw;
  margin: 0 auto;
}
.check-in form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.check-in__label {
  display: block;
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
}

.check-in__activity {
  border-radius: 3px;
  border: 1px solid #549B7A;
  display: block;
  margin: 10px auto 0 auto;
  height: 50px;
  padding: 1%;
  width: 80%;
}
.check-in__activity:focus {
  outline: transparent;
}
.check-in__activity:focus::placeholder {
  color: white;
  transition-duration: 0.25s;
}

.check-in__submit {
  background-color: #549B7A;
  border: 1px solid #549B7A;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
  color: #f3fbf7;
  font-size: 1.1rem;
  height: 50px;
  width: 100px;
  text-transform: uppercase;
  opacity: .9;
}
.check-in__submit:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 0.25s;
}

.report {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #254536;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
  color: #549B7A;
  font-family: courier;
  height: 400px;
  width: 500px;
  max-height: 90vh;
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.report__title {
  margin: 50px 0 40px 0;
}

.report__blocks {
  width: 80%;
}

.spectrum {
  background: linear-gradient(to right, #f3fbf7, #549B7A);
  margin-top: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid #549B7A;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
  height: 30px;
  width: 80%;
}
input[type=range]:focus {
  outline: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #549B7A;
  border-radius: 3px;
  border: 1px solid #549B7A;
  box-shadow: 0px 1px 1px #fff, 0px 0px 1px #fff;
  height: 34px;
  width: 10px;
  cursor: pointer;
  margin-top: 0px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  transition-duration: 0.25s;
}
input[type=range]::-webkit-slider-thumb:hover {
  box-shadow: 0px 1px 3px #fff, 0px 0px 3px #fff;
  transition-duration: 0.25s;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #549B7A;
  height: 34px;
  width: 10px;
  background: #549B7A;
  border-radius: 3px;
  box-shadow: 0px 1px 1px #fff, 0px 0px 1px #fff;
  cursor: pointer;
  transition-duration: 0.25s;
}
input[type=range]::-moz-range-thumb:hover {
  box-shadow: 0px 1px 3px #fff, 0px 0px 3px #fff;
  transition-duration: 0.25s;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #549B7A;
  height: 34px;
  width: 10px;
  background: #549B7A;
  border-radius: 3px;
  box-shadow: 0px 1px 1px #fff, 0px 0px 1px #fff;
  cursor: pointer;
  transition-duration: 0.25s;
}
input[type=range]::-ms-thumb:hover {
  box-shadow: 0px 1px 3px #fff, 0px 0px 3px #fff;
  transition-duration: 0.25s;
}

body {
  background-color: #f3fbf7;
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: normal;
}
