.check-in{
  @include modal;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
  }
}

.check-in__label{
  display: block;
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
}

.check-in__activity{
  border-radius: $border-radius;
  border: 1px solid $mdgreen;
  display: block;
  margin: 10px auto 0 auto;
  height: 50px;
  padding: 1%;
  width: 80%;
  &:focus{
    outline: transparent;
    &::placeholder{
      color: white;
      transition-duration: $transition-duration;
    }
  }
}

.check-in__submit{
  background-color: $mdgreen;
  border: 1px solid $mdgreen;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: $ltgreen;
  font-size: 1.1rem;
  height: 50px;
  width: 100px;
  text-transform: uppercase;
  opacity: .9;
  &:hover{
    cursor: pointer;
    opacity: 1;
    transition-duration: $transition-duration;
  }
}